

#bloc_page { 
    width: 100%;
}

#filters h2 {
    width: 100%;
}

#filters {
    justify-content: flex-start;
}

.filter {
    margin-right: 10px;
}

.categories {
    margin-top: 40px;
    padding: 10px;
    width: 100%;    
}

.first {
    width:40%;
}

.first img {
    width: 100%;
}

aside {
    width: 100%;
    margin-left: 0;
}

#tourism {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.foot {
    max-width: 100%;
}

.foot__link {
    
    padding: 2rem 2rem 2rem 0;
}


